[Unit]
Description=FakeDownloader Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/fakedownloader
Environment=PATH=/opt/fakedownloader/venv/bin
ExecStart=/opt/fakedownloader/venv/bin/python /opt/fakedownloader/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 