[Unit]
Description=FakeDownloader Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/fakedownloader
Environment=PATH=/opt/fakedownloader/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/opt/fakedownloader/venv/bin/python /opt/fakedownloader/main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
# Force Python to flush output immediately
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target 